<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>登录</title>
    <link th:href="@{/css/bootstrap-3.3.7-dist/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/css/bootstrap-3.3.7-dist/js/bootstrap.min.js}"></script>
</head>
<body>
<!--<div class="btn btn-primary">登录</div>-->
<!--<span class="glyphicon glyphicon-user" style="color: red;font-size: 50px"></span>-->
<!--&lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">-->
    <!--登录案例-->
<!--</button>-->

<!-- Modal -->
<!--<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">-->
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">登录</h4>
            </div>
            <div class="modal-body">
                <form th:action="@{/user/Login}" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">用户名：</label>
                        <input name="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">密码：</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="请输入密码">
                    </div>
                    <button type="submit" class="btn btn-ok">登陆</button>
                </form>
            </div>
        </div>
    </div>
<!--</div>-->
</body>
</html>